/*Gerais*/
body{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.row {
    margin: 0;
}
.container-fluid{
    background-color: #337ab7;
}
/*.container{
    padding: -10px -10px -10px -10px;
}*/


/* Barra de navagação*/

header, .navbar{
    background-color: #4b96d8;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 75px;
    margin: 0 0 0 105px;
}

.navbar-brand {
    padding: 0;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.navbar-brand:hover{
    color:#fff;
}

#navbar-links a{
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

/*Objetivo do Projeto*/

#about-area{
    background-color: #00BFFF;
}

.main-title{
    color: black;
    padding: 65px;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

/*cadastro*/ 
.form{
    margin: 5px;
}
#cadastro{
    background-color:#337ab7;
}
.bot{
    margin: 8% 0 0 50%;
}
/*formulario*/ 
#formulario{
    background-color: #337ab7;
}

.bot{
    margin: 10% 25% 0 25%;
}
/*footer*/
#copy-area {
    background-color: #4b96d8;
}
#copy-area .container{
    padding: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}

@media(max-width: 375px){

    .form{
        margin: 15px 25px 15px 25px;
    }

}

@media(max-width: 412px){

    .form{
        margin: 15px 25px 15px 25px;
    }

    .main-title{
        font-size: 30px;
    }

}

@media(max-width: 414px){

    .form{
        margin: 15px 25px 15px 25px;
    }

}